.git
.github
.env
.env.*
!.env.example
node_modules
vendor
tests
docs
storage/app/rehearsals
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
npm-debug.log*
